////////// COLOR SYSTEM //////////

$white:             #ffffff;
$light:             #EDEFF2;

///////// BUTTONS //////// 

// $button-padding-x: 30px;
// $button-padding-y: 12px;

////////// FONTS ////////// 

$font-family-sans-serif: 'Poppins', sans-serif;
$body-color: #4F4F4F;