/* Variables */

////////// COLOR SYSTEM //////////

$black: #000;
$white: #ffffff;

$theme-colors: (
  primary: #057de5, 
  secondary: #dde4eb, 
  success:#19d895, 
  info: #8862e0, 
  warning: #ffaf00, 
  danger: #ff6258,
  light: #c3cad9
);

////////// COLOR SYSTEM //////////

////////// FONTS  //

$type1: 'poppins', sans-serif;
$default-font-size: .875rem;

$text-muted: #9c9fa6;
$body-color: #4f4f4f;
$border-color: #d5dfe6 !default;

////////// FONT VARIABLES //////////

////////// COLOR VARIABLES //////////

$content-bg:#F3F3F3 !default;

////////// COLOR VARIABLES //////////

///////// BUTTONS ////////

$button-fixed-width: 150px;
$btn-padding-y: .875rem;
$btn-padding-x: 2.5rem;
$btn-line-height: 1;

$btn-padding-y-xs: .5rem;
$btn-padding-x-xs: .75rem;

$btn-padding-y-sm: .50rem;
$btn-padding-x-sm: .81rem;

$btn-padding-y-lg: 1rem;
$btn-padding-x-lg: 3rem;

$btn-border-radius: .1875rem;
$btn-border-radius-xs: .1875rem;
$btn-border-radius-sm: .1875rem;
$btn-border-radius-lg: .1875rem;

///////// BUTTONS ////////

////////// Vendor file asset path //////////

$mdi-font-path:        "@mdi/font/fonts";