/* Variables */

////////// COLOR SYSTEM //////////

$black: #000;
$white: #ffffff;

$theme-colors: (
  primary: #057de5, 
  secondary: #dde4eb, 
  success:#19d895, 
  info: #8862e0, 
  warning: #ffaf00, 
  danger: #ff6258,
  light: #c3cad9
);

////////// COLOR SYSTEM //////////

////////// FONTS  //

$type1: 'poppins', sans-serif;
$default-font-size: .875rem;

$text-muted: #9c9fa6;
$body-color: #4f4f4f;
$border-color: #d5dfe6 !default;

////////// FONT VARIABLES //////////

////////// COLOR VARIABLES //////////

$content-bg:#F3F3F3 !default;

////////// COLOR VARIABLES //////////

///////// BUTTONS ////////

$button-fixed-width: 150px;
$btn-padding-y: .875rem;
$btn-padding-x: 2.5rem;
$btn-line-height: 1;

$btn-padding-y-xs: .5rem;
$btn-padding-x-xs: .75rem;

$btn-padding-y-sm: .50rem;
$btn-padding-x-sm: .81rem;

$btn-padding-y-lg: 1rem;
$btn-padding-x-lg: 3rem;

$btn-border-radius: .1875rem;
$btn-border-radius-xs: .1875rem;
$btn-border-radius-sm: .1875rem;
$btn-border-radius-lg: .1875rem;

///////// BUTTONS ////////

/////////  FORMS /////////

$input-bg: lighten(#fff, 4%) !default;
$input-border-radius: 2px;
$input-placeholder-color: #c9c8c8 !default;
$input-font-size: .75rem;
$input-padding-y: .56rem;
$input-padding-x: 1rem;
$input-line-height: 1;
$input-padding-y-sm: .5rem;
$input-padding-x-sm: .81rem;
$input-line-height-sm: 1;
$input-padding-y-lg: .94rem;
$input-padding-x-lg: 1.94rem;
$input-line-height-lg: 1;
$custom-switch-width: 2.25rem;
$custom-control-indicator-size:1.25rem;
$custom-switch-indicator-size: 1rem;
$custom-switch-indicator-border-radius: 50px;
$custom-control-indicator-checked-bg:#33ac2e !default;
$custom-control-indicator-checked-border-color: $custom-control-indicator-checked-bg !default;
$form-check-label-input-helper-bg: theme-color(light) !default;

///////// FORMS /////////

////////// MEASUREMENT AND PROPERTY VARIABLES //////////

$card-bg: #fff !default;
$grid-gutter-width: 25px;
$action-transition-duration: 0.25s;
$action-transition-timing-function: ease;

////////// OTHER VARIABLES //////////

////////// SIDEBAR ////////

$sidebar-width-lg: 270px;
$sidebar-width-mini: 185px;
$sidebar-width-icon: 70px;
$sidebar-icon-menu-width: 200px;
$sidebar-light-bg: $white;
$sidebar-gradient-color-1:#5768f3;
$sidebar-gradient-color-2: #057de5;
$sidebar-gradient: linear-gradient(to top, $sidebar-gradient-color-1, $sidebar-gradient-color-2);
$sidebar-light-menu-color: #fff;
$sidebar-light-submenu-color: $sidebar-light-menu-color;
$sidebar-light-category-color: rgba(255, 255, 255, 0.7);
$sidebar-light-menu-icon-color: $sidebar-light-menu-color;
$sidebar-light-menu-arrow-color: #bfccda;
$sidebar-profile-name-color: #fff !default;
$sidebar-profile-designation-color:#fff !default;

$sidebar-light-menu-active-bg: #fff;
$sidebar-light-menu-active-color: #fff;

$sidebar-light-menu-hover-bg: darken($sidebar-gradient-color-1, 20%);
$sidebar-light-menu-hover-color:#fff;
$sidebar-light-submenu-hover-bg: initial;
$sidebar-light-submenu-hover-color: #000;
$sidebar-light-submenu-line-color: darken($sidebar-gradient-color-1, 18%);
$sidebar-navlink-menu-item-hover-color:darken($sidebar-light-menu-color, 5%);
$sidebar-nav-item-profile-border-color:1px solid rgba(#fff, 0.11);
$sidebar-nav-item-profile-bg:rgba(255, 255, 255, 0.1);
$sidebar-nav-item-profile-color: #fff;
$sidebar-nav-category-border-color:rgba(255, 255, 255, 0.13);
$sidebar-nav-item-dot-color:#fff;

$sidebar-dark-bg: #252C46;
$sidebar-dark-menu-color: #9F9EA3;
$sidebar-dark-menu-active-bg: lighten($sidebar-dark-bg, 5%);
$sidebar-dark-menu-active-color: $white;
$sidebar-dark-menu-hover-bg: $sidebar-dark-menu-active-bg;
$sidebar-dark-menu-hover-color: $sidebar-dark-menu-color;
$sidebar-dark-submenu-color: $sidebar-dark-menu-color;
$sidebar-dark-submenu-hover-bg: initial;
$sidebar-dark-submenu-hover-color: #000;
$sidebar-dark-category-color: #999999;
$sidebar-dark-menu-icon-color: #9F9EA3;
$sidebar-dark-profile-name-color: #404852;
$sidebar-dark-profile-title-color: #8d9498;
$sidebar-menu-font-size: 15px;
$sidebar-icon-size: 16px;
$sidebar-menu-padding: 15px 30px 15px 55px;
$sidebar-menu-padding-rtl: 15px 70px 15px 30px;
$nav-link-height: 3.25rem;
$sidebar-submenu-padding: 0 0 0 4rem;
$sidebar-submenu-font-size: $sidebar-menu-font-size;
$sidebar-submenu-item-padding: .75rem 1rem;
$sidebar-icon-font-size: .9375rem;
$sidebar-arrow-font-size: .625rem;
$sidebar-profile-bg: transparent;
$sidebar-profile-padding: 0rem 1.625rem 2.25rem 1.188rem;
$sidebar-mini-menu-padding: .8125rem 1rem .8125rem 1rem;
$sidebar-icon-only-menu-padding: .5rem 1.625rem .5rem 1.188rem;
$sidebar-icon-only-submenu-width: 200px;
$sidebar-icon-only-collapse-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
$rtl-sidebar-submenu-padding: 0 3.45rem 0 0;

///////// SIDEBAR ////////

///////// NAVBAR ////////

$navbar-bg: #fff;
$navbar-height: 63px;
$navbar-light-color: #202339;
$navbar-font-size: $sidebar-menu-font-size;
$navbar-icon-font-size: 1.25rem;
$navbar-dropdown-toggle-arrow-color: $body-color;
$navbar-count-indicator-bg:red;
$navbar-dropdown-border-color:rgba(182, 182, 182, 0.1);
$navbar-dropdown-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
$navbar-menu-wrapper-color: $body-color;

///////// NAVBAR ////////

$page-header-toolbar-btn-color: theme-color(primary);
$fc-button-bg: theme-color(primary);
$fc-button-color: #fff;
// $fc-state-active-bg:darken(theme-color(primary), 5%);
$fc-state-active-color:$white;
$fc-navigation-button-color: theme-color(primary);
$fc-today-button-bg:theme-color(primary);
$fc-today-button-color: #fff;
$fc-event-bg: theme-color(success);
$fc-event-color:$white;
$fc-more-cell-color:theme-color(dark);

////////// Vendor file asset path //////////

$mdi-font-path:        "@mdi/font/fonts";