<div class="side-navbar">
    <ul class = "list-unstyled">
        <li>
            <a [routerLink]="['/']" class="navbar-brand mt-3 ms-3">SG<span class="text-primary">3</span>K</a>
        </li>
        <li><a href="#" class="text-decoration-none">
            <span class="icon"><fa-icon [icon]="faCompass"></fa-icon></span>
            <span class="text">Dashboard</span>
        </a></li>
        <li><a href="#" class="text-decoration-none">
            <span class="icon"><fa-icon [icon]="faBug"></fa-icon></span>
            <span class="text">Debug</span>
        </a></li>
        <li><a href="#" class="text-decoration-none">
            <span class="icon"><fa-icon [icon]="faSignOut"></fa-icon></span>
            <span class="text">Log-Out</span>
        </a></li>
    </ul>
</div>
