<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" (click)="clickedMenu($event)" id="nav-link1" [ngClass]="{'active': dashboardLink.isActive}">
        <span class="menu-title">Dashboard</span>
      </a>
      <div class="collapse" [ngbCollapse]="parentId !== 'nav-link1'">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" #dashboardLink="routerLinkActive">Dashboard 1</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
