@import "../../scss/abstracts/variables";

.main {
    width: 100%;
    background-color: $white;
}

.content {
    position: absolute;
    width: calc(100% - 260px);
    left: 260px;
    min-height: 100vh;
    transition: 0.5s ease;
}

.content.active {
    width: calc(100% - 60px);
    left: 60px;
}

@media (max-width: 768px) {
    .content {
      width: 100%;
      left: 0;
    }

    .content.active {
      width: calc(100% - 60px);
      left: 60px;
    }
}