/**
* Dashboard
* @author Bram Langmans
*/

/* ==================
headers
=====================*/

h1 {
    font-size: 2.6rem;
    font-weight: bold;
}


h2{
	font-size: 1.4rem;
    font-weight: medium;
}

/* ==================
Scroll bar
=====================*/

::-webkit-scrollbar {
    width: 0.2rem;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #CEDAE6;
    border-radius: 1rem;
}

/* ==================
Left side
=====================*/

.left {
    background-color: #fff;
    position: fixed;
    left: 0; 
    top: 0; 
    bottom: 0;
    width: 30rem;
    z-index:2;
    overflow-y: scroll;
}

/* ==================
Logo
=====================*/

.logo {
    text-align: center;
    margin-top: 5rem;
    font-family: 'Roboto', sans-serif;
}

.logo .swoop {
    font-size: 4.8rem;
    font-weight: bold;
	color: #4F4F4F;
}

.logo .generator3000 {
    font-size: 1rem;
    font-weight: light;
    letter-spacing: 0.53rem;
	color: #057DE5;
    margin-top: -1.5rem;
}

/* ==================
Upload
=====================*/

.upload {    
    font-family: 'Roboto', sans-serif;
    width: 22.2rem;
    height: 6.8rem;
    border-width: 0.1rem;
    border-style: dashed;
    border-radius: 0.5rem;
    border-color: #CEDAE6;
    margin: 5rem auto 0 auto;
}

.upload-data {    
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1.9rem;
}

.upload-data a{
    color: #057DE5;
}

.upload .support {
    font-weight: bold;
    font-size: 0.9rem;
    color: #CEDAE6;
}

/* ==================
Y axis
=====================*/

.yaxis {
    width: 22.2rem;
    margin: 3rem auto 0 auto;
}

.yaxis .y_check {
    margin-top: 0.5rem;
}

.input_y_check{
    display: none;
}

.label_y_check {
    display: inline-block;
    padding: 4px 11px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: #fff;
    color: #057DE5;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: #CEDAE6;
}

.label_y_check:has(>.input_y_check:checked) {
    background-color: #057DE5;
    color: #fff;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: #CEDAE6;
}

/* ==================
Units
=====================*/

.units {
    width: 22.2rem;
    margin: 3rem auto 0 auto;
}

.units .units_radio {
    margin-top: 0.5rem;
}

.input_units_radio{
    display: none;
}

.label_units_radio {
    width: 50%;
    display: inline-block;
    padding: 4px 11px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
    text-align: center;
    background-color: #fff;
    color: #057DE5;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0 0.5rem 0.5rem 0;
    border-color: #CEDAE6;
    margin-left: -0.1rem;
}

.label_units_radio:first-of-type {
    border-radius: 0.5rem 0 0 0.5rem;
}

.label_units_radio:has(>.input_units_radio:checked) {
    background-color: #057DE5;
    color: #fff;
    border-width: 0.1rem;
    border-color: #057DE5;
}

/* ==================
Swoops
=====================*/

.swoops {
    width: 22.2rem;
    margin: 3rem auto 0 auto;
}

.swoops .check {
    width: 100%;
    height: 10.3rem;
    margin-top: 1.5rem;
    background-color: #F7F6FC;
    border-radius: 0.5rem;
    overflow-y: scroll;
}

.swoops .check .item {
    display: flex;
    flex-direction: column;
}

.swoops .check .input_item {
    margin-left: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*
.swoops .check .input_item text {
    /*margin-left: 1.3rem;
}*/


/* ==================
Save
=====================*/

.save {
    width: 22.2rem;
    margin: 3rem auto 5rem auto;
}

.save #save-val{
    width: 100%;
    border: none;
    background-color: #057DE5;
    color: #fff;
    padding: 15px 32px;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

/* ==================
Right side
=====================*/

.right {
    background-color: #F7F6FC;
    position: relative;
	height: 100vh;
}

.title {
    position: absolute;
    margin-top: 5rem;
    margin-left: 3.5rem;
}

.title .line{
    width: 2.5rem;
    height: 0.2rem;
    color: #057DE5;
    margin-top: 1rem;
    background-color: #057DE5;
}
