/**
* stylesheet 
* @author Bram Langmans
*/

/* ==================
General
=====================*/

html{
	font-size: 0.625rem;
}

*{
	margin:	0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing:	border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	color: #4F4F4F;
}

body > * {
	font-size: 1.3rem;
}

