.row, .col, p, h1{
  margin: 0;
  padding: 0;
}

a {
  color: #057DE5!important;
}

.container-fluid {
  padding: 0;
  height: 100vh;
}

/* LOGIN BANNER */

.login-banner {
  background-image: url(../../assets/images/banner.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  position: relative;
}

.login-banner:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #020202;
  opacity: 0.6;
}

.text-banner {
  position: relative;
  color: #fff;
  font-family: "Montserrat"!important;
  z-index: 1;
}

.text-banner p {
  font-weight: 400;
}

.text-banner h1 {
  font-weight: 700;
  font-size: 36px;
}

/* LOGIN FORM */

.login-form {
  width: 65%;
  margin: 0 auto;
}

.login-form .header h1 {
  font-weight: bold;
  font-size: 48px;
}

.login-form .header p {
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 16px;
}

#password-label {
  margin-top: 5px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-check, .forgot-password {
  flex-basis: 0;
  flex-grow: 1;
  margin-top: 15px;
}

.forgot-password {
  text-align: right;
}

.login-form .btn {
  margin-top: 15px;
  width: 100%;
}

.signup-link {
  margin-top: 15px;
  text-align: center;
}