.banner {
  height: 100vh;
  
  /* background-image: url(../../assets/images/home-banner.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  position: relative; */
}

/* .banner:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #020202;
  opacity: 0.6;
}  */

.banner-logo {
  height: 90px;
}

/* BANNER */


/* .col-7 .home {
  position: relative;
  color: #fff;
  font-family: "Montserrat"!important;
  z-index: 1;
}


/* GETTING STARTED */
