<div class="container-fluid">
    <div class="row">
        <div class="col-7 banner">
            <div class="row">
                <div class="col-12 d-flex align-items-center">
                    <p class="m-0"><a href="#" title="Welcome on our website SG3K" class="ir">SG<span
                                style="color: #057DE5;">3</span>K</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-10 d-flex flex-column justify-content-center">
                    <h1 class="title">"Unleash the power in your swooping journey with SG<span
                            style="color: #057DE5;">3</span>K"</h1>
                                        <p class="mb-0">The advanced GPS tool designed to fuel continuous improvement for all skill levels
                        and transform every jump into an opportunity for growth.</p>
                </div>
            </div>

        </div>
        <div class="col-5">
            <div class="row get-started">

            </div>
        </div>
    </div>
</div>


<!-- <div class="col-7 justify-content-center">
            <div class="row">
                
            </div>
            <div class="col d-flex w-100">
                <h1 class="home title">"Unleash the power in your swooping journey with SG<span style="color: #057DE5;">3</span>K"</h1>
                
            </div>
        </div>
        <div class="col-5">
            <div class="row get-started gx-5">
                <h2>Get started</h2>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
            </div>
            <div class="row text-center">
                <p class="copyright">
                    © bram langmans <span class="year">2024</span>
                </p>
            </div>
        </div> -->