<div class="container home-container">
  <div class="row align-items-center">
    <div class="col-12 text-center">
      <h1 class="home-title">Unleash the power in your swooping journey with SG3K</h1>
      <p class="home-subtitle">
        The advanced GPS tool designed to fuel continuous improvement for all skill levels and transform every jump into an opportunity for growth.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button class="home-btn mr-3">Log in</button>
      <button class="home-btn">Get started</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 text-center">
      <p class="copyright">
        ©bram langmans <span class="year">2024</span>
      </p>
    </div>
  </div>
</div>