<div class="flex min-h-full w-screen flex-col sm:supports-[min-height:100dvh]:min-h-[100dvh] md:grid md:grid-cols-2 lg:grid-cols-[60%_40%]">
    <div class="relative hidden flex-1 flex-col justify-center px-5 pt-8 text-[#FE7600] dark:text-[#D292FF] md:flex md:px-6 md:py-[22px] lg:px-8">
        
    </div>
    
    <!-- <div class="row w-100 h-100">
        <div class="col banner">
            
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="row getting-started align-items-center">
                
            </div>
        </div>
    </div> -->
</div>
